body {
    margin: 0;
    background: #020202;
    cursor: crosshair;
    position: relative;
}
video{
  width: 1px;
  height: 1px;
}
canvas{
    display:block;
    opacity: 0.8;
}
.bgImg{
    background-image: url('sabina11.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    font-family: "Source Sans Pro";
    font-size: 50px;
    font-weight: 900;
    -webkit-user-select: none;
    user-select: none;
  }

  .swiper {
    width: 100%;
    height: 100%;
    margin-top: -175px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  .swiper-button-next::after{
    font-size: 20px;
    color: #fff;
    padding: 10px 10px;
  }

.swiper-button-prev::after{
    font-size: 20px;
    color: #fff;
    padding: 10px 10px;
  }

  .swiper-button-next:focus-visible{
    outline: unset;
  }

.swiper-button-prev:focus-visible{
    outline: unset;
  }

  .swiper-button-next{
        right: 50px;
  }

.swiper-button-prev{
        left: 50px;
  }